/*
Colors used: 
Primary colour #f0622a
Tex colour (black) #1d1d1d 
*/
/* Layout styling */
.container {
  padding: 0 15px;
  }
* {
  box-sizing: border-box;
  }
.row {
  margin: 25px 0;  
  padding-bottom: 25px; border-bottom: 1px solid #f0622a
  }
.row::after {
  content: "";
  clear: both;
  display: table;
  }
.pluto-text{
  text-align: left;
}
.vocab-text {
  text-align: left;
}
  
#hero h1 {
  text-align: center; /* Centers text */
  }
.logo {
  max-width: 150px;
  }
nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 1em 0;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #f05d23;
  }
body {
  background-color:white;
  font-family:'poppins' , sans-serif;
  font-size: 16px;
  font-weight: 300; 
  line-height: 1.6;
  color: #1d1d1d;
}
h1, h2, h3, h4 {
  line-height: 1.4;
  }
h1 {
  font-size: 2.75em;
  font-weight: 700;
  text-align: center;
  }
  
h2 {
  font-size: 2.25em;
  font-weight: 700;
  }
  
h3 {
  font-size: 1.75em;
  font-weight: 400;
  }
h4 {
  font-size: 1.35em;
  font-weight: 400;
  }
img {
  width: 100%;
  max-width: 100%;
  height: auto;
  }

header {
  background-color: hsl(17, 88%, 84%);
  padding: 10px;
  margin: 10px;
  border-bottom: 3px solid #f0622a;
  box-shadow: -2px 5px 20px #47322d8f; 
  position:relative
}

#hero {
  background-color:#fac7b3;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}
#hero span {
  display: block;
}

#work {
  background-color: #ffffff;
}
#contact {
  background-color:white;
}
.social li {
  list-style-type: none;
  padding: 0;
  display: inline-block;
}

a {
  outline-color: transparent;
}

a:link {
  color:#f05d23;
  text-decoration: none;
}
a:visited { /* visited link */
  color:#f05d23;
  }
a:focus {
  color:#c04a1c;
  text-decoration: underline;
}
a:hover {
  color:#c04a1c;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:active { /* selected link */
  color:#903715;
}
.button, 
.button:link,
.button:visited,
.button:hover,
.button:active {
  display: inline-block;
  background-color:#f05d23;
  color:#ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #903715;
  transition-duration: 0.2s;
  transition-property: opacity;
}
.button:hover {
  opacity: 0.8;
}

.button.contact {
  background-color: transparent;
  color:#f05d23;
  text-transform: uppercase;
  border: 2px solid #f05d23;
  text-align: left;
  align-items: center;
}
.button.contact:hover {
  background-color:#f05d23;
  color: #ffffff;
}
#about-page h3 { margin-top: 0;}

#skill-heading {
  text-align: center;
}
#work-heading {
  text-align: center;
}
.navtoggle li:not(:last-child) {
  display: none;
}
.navtoggle, .navtoggle.responsive {
  position: relative;
}
.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top:solid #b64c22;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
header {
  text-align: unset;
  padding: 20px 0 13px;
}
nav {
  width: auto;
  float: right;
  margin-top: 4px;
}
nav > ul {
  margin: 1em 0;
}
body {
  font-size: 18px;
}
.col-md-6 {
  width: 50%;
}
[class*="col-"] {
  float: left;
  padding: 10px;
}
.logo {
  max-width: 150px;
}
nav > ul > li {
  display: inline-block;
  }
.navtoggle li:not(:last-child) {
  display: inline-block;
}
.navtoggle li:last-child {
  display: none;
}
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .container
  {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
nav {
    width: auto;
    display: inline-block;
    margin-top: 4px;
  }
  
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}

#animation-img {
  float: inline-end;
}

@keyframes colour-change {
  from {fill: #FFC727;}
  to {fill: #cb3070;}
}

.Lightbulb {
  animation: 4s colour-change infinite alternate linear;
}

@keyframes spin {
  from {transform: rotate(0deg);}
  to  {transform: rotate(360deg);}
}
.Screws {
  animation: 5s spin infinite  ;
}
