/*
Colors used: 
Primary colour #f0622a
Tex colour (black) #1d1d1d 
*/
/* Layout styling */
.container {
  padding: 0 15px;
  }
* {
  box-sizing: border-box;
  }
.row {
  margin: 25px 0;  
  padding-bottom: 25px; border-bottom: 1px solid #f0622a
  }
.row::after {
  content: "";
  clear: both;
  display: table;
  }

.pluto-text{
  text-align: left;
}
.vocab-text {
  text-align: left;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #f05d23;
  }
body {
  background-color:white;
  font-family:'poppins' , sans-serif;
  font-size: 16px;
  font-weight: 300; 
  line-height: 1.6;
  color: #1d1d1d;
}
h1, h2, h3, h4 {
  line-height: 1.4;
  }
h1 {
  font-size: 2.75em;
  font-weight: 700;
  text-align: center;
  }
  
h2 {
  font-size: 2.25em;
  font-weight: 700;
  text-align: center;
  }
  
h3 {
  font-size: 1.75em;
  font-weight: 400;
  }
h4 {
  font-size: 1.35em;
  font-weight: 400;
  }
img {
  max-width: 100%;
  height: auto;
  }
header {
  background-color: hsl(17, 88%, 84%);
  padding: 10px 0 4px;
  border-bottom: 3px solid #f0622a;
  box-shadow: -2px 5px 20px #47322d8f; 
  position:fixed;
  width: 100%;
}
.logo {
  font-size: 30px;
  font-weight: 600;
  max-width: 150px;
}
.hero {
  background-color:#fac7b3;
  padding-top: 50px;
  padding-bottom: 50px;
  display: inline-block;
  width: 100%;
  text-align: center;
}
.hero span {
  display: inline-block;
}

#work {
  background-color: #ffffff;
}
#contact {
  background-color:white;
}

.social li {
  list-style-type: none;
  padding-inline-start: 0px;
  display:inline-block;
}
ul.social{
  padding-inline-start: 0;
}

a {
  outline-color: transparent;
}

a:link {
  color:#f05d23;
  text-decoration: none;
}
a:visited { /* visited link */
  color:#f05d23;
  }
a:focus {
  color:#c04a1c;
  text-decoration: underline;
}
a:hover {
  color:#c04a1c;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:active { /* selected link */
  color:#903715;
}
.button, 
.button:link,
.button:visited,
.button:hover,
.button:active {
  display: inline-block;
  background-color:#f05d23;
  color:#ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #903715;
  transition-duration: 0.2s;
  transition-property: opacity;
}
.button:hover {
  opacity: 0.8;
}
.cv-button, 
.cv-button:link,
.cv-button:visited,
.cv-button:hover,
.cv-button:active {
  display:block;
  background-color:#f05d23;
  color:#ffffff;
  font-weight: 400;
  padding:10px;
  border-radius: 3px;
  border-bottom: 2px solid #903715;
  transition-duration: 0.2s;
  transition-property: opacity;
  text-align: center;
}
.pluto.button {
  display:block;
  background-color:#f05d23;
  color:#ffffff;
  font-weight: 400;
  padding:10px;
  border-radius: 3px;
  margin: auto;
  border-bottom: 2px solid #903715;
  transition-duration: 0.2s;
  transition-property: opacity;
  text-align: center;
}

.center {
  margin: auto;
  width: 50%;
}

.button.contact {
  background-color: transparent;
  color:#f05d23;
  text-transform: uppercase;
  border: 2px solid #f05d23;
  text-align: left;
}
.button.contact:hover {
  background-color:#f05d23;
  color: #ffffff;
}
#about-page h3 { margin-top: 0;}

#skill-heading {
  text-align: center;
}
#work-heading {
  text-align: center;
  color: #f05d23;
}
#contact{
  text-align: center;
}
.navtoggle li:not(:last-child) {
  display: none;
}
.navtoggle, .navtoggle.responsive {
  position: relative;
}
.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
}
.navtoggle.responsive ul {
  margin-top: 1em; 
  }
main {
  padding-top: 68.797px;
}
#profile_img {
  max-width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

#design_process {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#figma{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.persona{
  display: block;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

  
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
header {
  text-align: unset;
  padding: 20px 0 13px;
}
nav {
  width: auto;
  float: right;
  margin-top: 4px;
}
body {
  font-size: 18px;
}
.col-md-6 {
  width: 50%;
}
[class*="col-"] {
  float: left;
  padding: 10px;
}
.logo {
  max-width: 150px;
}
nav > ul {
  margin: 1em 0;
}
nav > ul > li {
  display: inline-block;
  }
.navtoggle li:not(:last-child) {
  display: inline-block;
}
.navtoggle li:last-child {
  display: none;
}
.hero h1 {
  text-align: center;
}
.hero {
  background-color:#fac7b3;
  padding-top: 50px;
  padding-bottom: 50px;
  display: inline-block;
  width: 100%;
  text-align: center;
}
.hero span {
  display: inline-block;
}
.hero .typewriter {
  display: inline-block;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #f05d23; /* The typewriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  vertical-align: bottom; /* Aligns the span with the text */
  animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { max-width: 0; }
  to { max-width: 100%; }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #f05d23; }
}
#profile_img {
  max-width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .container
  {
max-width: 1200px;
margin-left: auto;
margin-right: auto;
  }
nav {
width: auto;
display: inline-block;
margin-top: 4px;
}
.hero h1 {
  text-align: center;
}
.hero {
  background-color:#fac7b3;
  padding-top: 50px;
  padding-bottom: 50px;
  display: inline-block;
  width: 100%;
  text-align: center;
}
.hero span {
  display: inline-block;
}
.hero .typewriter {
  display: inline-block;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #f05d23; /* The typewriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  vertical-align: bottom; /* Aligns the span with the text */
  animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { max-width: 0; }
  to { max-width: 100%; }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #f05d23; }
}
#profile_img {
  max-width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {

  .hero h1 {
    text-align: center;
  }
  .hero {
    background-color:#fac7b3;
    padding-top: 50px;
    padding-bottom: 50px;
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  .hero span {
    display: inline-block;
  }
  .hero .typewriter {
    display: inline-block;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #f05d23; /* The typewriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    vertical-align: bottom; /* Aligns the span with the text */
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { max-width: 0; }
    to { max-width: 100%; }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #f05d23; }
  }
  #profile_img {
    max-width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
  }
}